*{
    margin:0;
    padding:0;
}

/* FONT REFERENCES: 
https://css-tricks.com/snippets/css/using-font-face/ 
https://www.fontspace.com/category/computer,science
*/   
@font-face { 
    font-family: Sci-Fi; 
    src: url('fonts/JlsspacegothicRnc-n2zY.otf');
    src: url('fonts/JlsspacegothicRnc-n2zY.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/JlsspacegothicRnc-n2zY.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/JlsspacegothicRnc-n2zY.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/JlsspacegothicRnc-n2zY.ttf')  format('truetype'), /* Safari, Android, iOS */
} 

/*body {
    position: relative;
    width: 100%;
    height: 100vh;
}

body::before{
    content: '';
    position: absolute;
    top: 0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    background-image: url(images/binary_code.gif);
    background-size:cover;
    background-position: top center;
    overflow: scroll;
}*/

body{
    background-image: url(images/binary_code.gif);
    background-size:cover;
    width: 1120px;
    height: 840px;
    resize: both;
    overflow: scroll;
}

.alignleft{
    float:left;
}

.alignright{
    float:right;
}

.title{
    font-size:50pt;
    font-family:Sci-Fi;
    color: limegreen;
    margin-left: 1%;
    opacity:.99;
    min-width: 400px;
}

/*.options{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    background-color:inherit;
    opacity: .99;
}

.options>*:hover{
    background-color:limegreen;
    color: black;
}

.options>*:first-child{
    margin-left: 10px;
}

.options>*{
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, .25);
    color:limegreen;
    font-family: 'Press Start 2P', cursive;
    font-size: 15pt;
    text-decoration: none;
}*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav_options{
    display: flex;
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 15pt;
}

.nav_options ul{
    display: flex;
}

.list_options{
    background-color: black;
    color: limegreen;
    padding:10%;
    text-decoration: none;
}

.list_options:hover{
    background-color: limegreen;
    color: black;
}

.list_options:active{
    background-color: green;
    color: black;
}

.options{
    display: inline-flex;
    background-color: black;
    white-space: nowrap;
    margin-left: 2%;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.options > div:first-child{
    content: '';
    /*background-color: teal;*/
}

.options > div:nth-child(2){
    content: '';
    /*background-color: violet;*/
}

.options > div:nth-child(3){
    margin-left: 500px;
}

.options > div{
    display: inline-flex;
}

.intro{
    background-color: gray; 
    opacity:.9;
    content:'';
    margin-top: 100%;
    height:100vh;
    width: 2543px;
}

.projects{
    background-color: lightgoldenrodyellow;
    opacity:.9;
    content:'';
    height:100vh;
    width: 2543px;
}

.about{
    background-color: lightgray;
    opacity:.9;
    content:'';
    width: 2543px;
    height: 100vh;
}

.contact{
    background-color: white;
    background-size: cover;
    opacity:.9;
    content:'';
    width: 2543px;
}

@media(max-width:700px){
    .text-box .title{
        font-size: 20pt;
    }
}